* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: aliceblue;
  font-family: "Lato", sans-serif;
  font-style: normal;
  line-height: 1.5;
  font-size: 0.875rem;
}

.title {
  font-size: 2rem;
  font-weight: 900;
  cursor: default;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 2rem;
  padding-top: 60px;
  letter-spacing: 5px;
}

.title .first {
  color: black;
}
.title .last {
  color: #03aed2;
}
